.Course-Heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-left: 1.2rem;
    height: 1.4rem;
    border: 1px solid white;
    font-family: 'Roboto Mono';
    color: black;
    border-radius: 2px;
}

li {
    list-style-type: none;
}

ul {
    text-align: center;
}
