.Course-Heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Course {
    text-align: center;
}

.more-info {
    width: 65ch;
    text-align: center;
    margin: auto;
}

button {
    margin-left: 1.2rem;
    height: 1.4rem;
    border: 1px solid white;
    font-family: 'Roboto Mono';
    color: black;
    border-radius: 2px;
}

li {
    list-style-type: square;
}

ul {
    text-align: left;
    margin: 20px;
}
