h1 {
    font-size: 3.5rem;
    margin: 1rem;
}

h3 {
    margin: 1rem;
}

a {
    padding: 20px;
    color: #a19f9f;
}

.Navigation-bar {
    background-color: #404040;
    height: 4rem;
    border-bottom: 10px solid #36bf5f;
    display: flex;
    justify-content: center;
    align-items: center;
}
